body {
    text-align: center;
    justify-content: center;
}

.container {
    border: 1px solid black;
}

.left-col {
    height: 1000px;
    border-right: 1px solid black;
}

.right-col {
    height: 1000px;
}

.title {
    font-size: large;
    font-weight: bold;
    margin: 10px 10px;
    padding: 10px 10px;
    border-bottom: 1px solid black;
}

.pokeNames {
    cursor: pointer;
}

.pokeNames.done {
    cursor: default;
}

.pokeNames.done:hover {
    cursor: default;
    box-shadow: none;
}

.eachName {
    background-color:lightgrey;
}